{{page-title "About"}}
<Jumbo>
  <h2 class="text-5xl font-bold p-28">About Super Doctors</h2>
  <p class="w-4/12 font-serif text-center text-2xl">

    Super Doctors: Heroes of Health. With scientific brilliance and unwavering
    compassion, they battle diseases and pioneer medical advancements. Armed
    with empathy, they heal and inspire, making a profound impact on the world.
    True superheroes, wearing lab coats instead of capes.
  </p>
  <LinkTo
    @route="contact"
    class="bg-teal-500 hover:bg-teal-600 text-white font-bold py-2 px-4 rounded"
  >Contact us</LinkTo>
</Jumbo>