{{page-title "Contact"}}

<Jumbo>
  <h2 class="text-5xl font-bold pt-28">Contact Us</h2>
  <p class="mt-8 w-4/12 text-center text-1xl">
    Super Doctors Representatives would love to help you<br />
    choose a destination or answer any questions you may have.
  </p>
  <address>
    Super Doctors HQ
    <p>
      Essensesteenweg 31<br />
      2290 Brasschaat
    </p>
    <a href="tel:+32470845712">+32470 84 57 12</a><br />
    <a href="mailto:youssef@inuits.eu">youssef@inuits.eu</a>
  </address>
  <LinkTo
    @route="about"
    class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded"
  >About</LinkTo>
</Jumbo>